.heroSection {
  .heroSectionText {
    margin-left: 80px;
    .title {
      color: $primary;
      font-size: 120px;
      font-weight: 900;
    }
    .about {
      color: $primary;
      font-size: 28px;
      font-weight: $font-weight-bold;
    }
  }
  @media (max-width: 992px) {
    .heroSectionText {
      margin-left: 40px;
      .title {
        font-size: 52px;
      }
    }
  }
  @media (max-width: 768px) {
    .heroSection2 {
      max-height: 360px;
      overflow: hidden;
    }
  }
  @media (max-width: 375px) {
    .heroSection2 {
      max-height: 180px;
    }
    .heroSectionText {
      margin-left: 24px;
    }
  }
}

.latestArticle {
  border-top: 1px solid #6c757d;
  border-bottom: 1px solid #6c757d;
  .content-wrapper {
    max-width: 636px;
    padding: 48px 12px;
    .content-text {
      display: -webkit-box;
      -webkit-line-clamp: 2; /* 設定顯示 2 行 */
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  @media (max-width: 992px) {
    .content-wrapper {
      margin: 0 auto;
    }
  }
  @media (max-width: 375px) {
    img {
      aspect-ratio: 1/1;
    }
  }
}

.articleList {
  margin-top: 80px;
  margin-bottom: 80px;

  .search-wrapper {
    box-sizing: border-box;
    height: 56px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    color: #4b4b4b;
    border: 1px solid #4b4b4b;
    border-radius: 40px;
    gap: 10px;

    i {
      flex-shrink: 0; /* 防止圖示縮小 */
    }

    .search-input {
      flex: 1;
      border: none;
      outline: none;
      background: transparent;
      padding: 0;
      font-size: 1rem;
      font-weight: $font-weight-medium;

      &::placeholder {
        color: #4b4b4b;
      }
    }
  }
}

.card {
  border: none !important;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: transparent !important;
  .card-img-top {
    border-radius: 0;
  }
  .card-body {
    padding-left: 0;
    padding-right: 0;
    .card-text {
      color: #4b4b4b;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* 設定顯示 2 行 */
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
