.header {
  .headerNav {
    display: flex;
    justify-content: center;
    gap: 40px;
    a {
      padding: 24px 0px;
      color: inherit;
      font-size: $h3-font-size;
      &:hover,
      &.active {
        color: $primary !important;
      }
    }
  }
}
